DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=api_db
DB_PORT=5432

APP_NAME='API template'
APP_DESCRIPTION='Template for generating APIs'
PORT=3000
ENABLE_LOGS=true
SERVER_DOMAIN=http://localhost:3000
JWT_SECRET=ubdfv7brb934g7bc796g76g

OPENAI_MODEL=gpt-4.1-mini
OPENAI_KEY=uvuovyyuvuyvt7